DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=two_space
DB_DIALECT=postgres
DB_LOGGING=false

PORT=3000
NODE_ENV=development
AUTH_COOKIE_SECURE=false
AUTH_OAUTH_SUCCESS_REDIRECT=

YANDEX_OAUTH_CLIENT_ID=
YANDEX_OAUTH_CLIENT_SECRET=
YANDEX_OAUTH_REDIRECT_URI=http://localhost:3000/auth/oauth/yandex/callback
YANDEX_OAUTH_SCOPE=login:default_phone

JWT_SECRET=change_me
